body{
    margin: 0;
    background-color: #f8f9fa;
    font-family: 'Poppins', sans-serif, system-ui;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh; 
}

.weightboard {
    flex-grow: 0.1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 40px;
}

.left-weight, .right-weight {
    font-size: 20px;
    font-weight: 600;
}

.seesaw-container{
    flex-grow: 0.7;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.plank{
    position: relative;
    width: 600px;
    height: 30px;
    background-color:#A1662F; 
    transform-origin: center;
    transition: transform 0.5s ease-in-out;
}

.pivot{
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 80px solid #060606;
    position: absolute;
    top: calc(50% + 15px);
    left: 50%;
    transform: translateX(-50%);
}

.weight{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    position: absolute;
    transform: translateX(-50%);
    animation: dropIn 0.3s ease-in forwards;
    bottom: 100%;
}

.button-container {
    display: flex;
    justify-content: center;
}
#reset-button {
    margin: 20px;
    padding: 10px 24px;
    border-radius: 6px;
    font-size: 16px;
    background-color: #3b82f6;
    color: white;
    border: none;
    cursor: pointer;
}
#reset-button:hover {
    background-color: #2563eb;
}

@keyframes dropIn {
    0% {
        transform: translateY(-200%) translateX(-50%);
        opacity: 0;
    }
    100% {
        transform: translateY(0) translateX(-50%);
        opacity: 1;
    }
}